<!DOCTYPE html>
<html lang="ES-es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NexaTDC | Kmz. Kuro</title>
    <link rel="stylesheet" href="https://www.nexatdc.work.gd/css/aboutme.css">
    <link rel="icon" href="https://www.nexatdc.work.gd/favicon.ico" type="image/x-icon">
    <meta property="og:site_name" content="NekoApi">
	<meta name="theme-color" content="#5bc9be">
	<meta name="keywords" content="Kmz. Kuro, kmz kuro, discord, developer, desarrollador, organist, organista, vtuber">
    <meta name="description" content="Soy Kuro y esta es mi web.">
	<meta name="og:image" content="https://www.nexatdc.work.gd/images/avatar.webp">
    
</head>

<body>
    <div class="con">
        <div class="banner">
            <div class="avatar"></div>
            <div class="description">
                <h1>Kmz Kuro</h1>
                <sub>representante de <b>NexaTDC</b></sub>
                <p>Soy Kuro! Vtuber, programador y organista.</p>
                <div class="redes">
                    <a href="https://discord.com/users/801603753631285308">
                        <div class="l-btn ds">
                            <img src="https://www.nexatdc.work.gd/assets/discord.svg" alt="twitch logo" class="img-svg">                            
                            <span>Discord</span>
                        </div>
                    </a>
                    <a href="https://www.twitch.tv/kmz_kuro27">
                        <div class="l-btn twc">
                            <img src="https://www.nexatdc.work.gd/assets/twitch.svg" alt="twitch logo" class="img-svg">
                            <span>Twitch</span>
                        </div>
                    </a>
                    <a href="https://x.com/KmzKuro">
                        <div class="l-btn x">
                            <img src="https://www.nexatdc.work.gd/assets/twitter.svg" alt="twitter logo" class="img-svg">
                            <span>Twitter / X</span>
                        </div>
                    </a>
                    <a href="https://www.youtube.com/@KmzKuro">
                        <div class="l-btn yt">
                            <img src="https://www.nexatdc.work.gd/assets/youtube.svg" alt="youtube logo" class="img-svg">
                            <span>YouTube</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="loader">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <script src="https://www.nexatdc.work.gd/js/aboutme.js"></script>
</body>

</html>